:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  background-color: #1f1114;
}


a {
  text-decoration: none !important;
}

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}